<body class="bg-gray-200" style="height: auto">
  <main class="main-content mt-0">
    <app-navbar></app-navbar>
    <div class="container">
      <div class="conainer-fluid">
        <div class="embed-responsive embed-responsive-16by9 d-flex">
          <div class="flex-item">
            <iframe
              class="embed-responsive-item"
              src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6008.0034739010425!2d1.1168872458029477!3d41.15631343608009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sCarrer%20del%20Cam%C3%AD%20de%20Valls%2C%2081-87%2C%20Aulas%2C%2020%2C%2023%2C%2025%2C%2045%2C%2046%2C%2048%20y%2049%2C%2043204%20Reus%2C%20Tarragona!5e0!3m2!1ses!2ses!4v1684826487110!5m2!1ses!2ses"
              width="600"
              height="450"
              style="border: 0; border-radius: 20px"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>

          <div class="flex-item contact-text">
            <div
              class="card bg-gray-200"
              style="width: 40rem; align-items: center"
            >
              <img
                src="./assets/img/ods2.png"
                class="card-img-top"
                alt="..."
                style="width: 60%"
              />

              <div class="card-body text-center">
                <h3 class="card-title">The SpringMeal Team</h3>
                <p class="card-text">
                  Here at SpringMeal we are very concerned about the sustainable
                  development goals. The ones that concerned us the most are "Zero
                  Hunger" and "Responsible Consumption and Production" Which are
                  the Goal 2 and 12 of the Sustainable Development goals.  <br>
                  <b>Goal 12</b> is about ensuring sustainable consumption and
                  production patterns, which is key to sustain the livelihoods of
                  current and future generations. halve per capita global food
                  waste at the retail and consumer levels and reduce food losses
                  along production and supply chains, including post-harvest
                  losses. <br />
                  <b>Goal 2</b> We will Ensure sustainable food production systems
                  and implement resilient agricultural practices that increase
                  productivity and production, that help maintain ecosystems, that
                  strengthen capacity for adaptation to climate change, extreme
                  weather, drought, flooding and other disasters and that
                  progressively improve land and soil quality.
                  <br />
                  Do you have any specific questions? To do so, simply fill out
                  this form. <br />
                  One of our experts will get in touch with you as soon as
                  possible (via email or phone, whichever you prefer).
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 text-center contact">
            <ul class="list-unstyled mb-0">
              <li>
                <i class="fas fa-map-marker-alt fa-2x"></i>
                <p>Cami de Valls, 81-87, 43204, Reus, Spain</p>
              </li>

              <li>
                <i class="fas fa-phone mt-4 fa-2x"></i>
                <p>935015000</p>
              </li>

              <li>
                <i class="fas fa-envelope mt-4 fa-2x"></i>
                <a href="https://www.t-systems.com/es/es/contact"
                  ><p>https://www.t-systems.com/es/es/contact</p></a
                >
              </li>
            </ul>
          </div>
        </div>

        <div
          class="container border"
          style="background-color: white; border-radius: 20px"
        >
          <form [formGroup]="form" (ngSubmit)="send()">
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Email address</label
              >
              <input
                type="text"
                class="form-control border"
                id="exampleFormControlInput1"
                placeholder="Email"
                required="required"
                formControlName="email"
              />
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label"
                >Message</label
              >
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                placeholder="Message"
                rows="3"
                required="required"
                formControlName="message"
              ></textarea>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="form.invalid"
              >
                Send
              </button>
            </div>
          </form>
        </div>
        <app-footer></app-footer>
      </div>
    </div>

  </main>
</body>
