
  <app-navbar></app-navbar>
  <div class="conainer-fluid">
    <div class="embed-responsive embed-responsive-16by9 d-flex">
      <div class="flex-item">
        <iframe
          class="embed-responsive-item"
          src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6008.0034739010425!2d1.1168872458029477!3d41.15631343608009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sCarrer%20del%20Cam%C3%AD%20de%20Valls%2C%2081-87%2C%20Aulas%2C%2020%2C%2023%2C%2025%2C%2045%2C%2046%2C%2048%20y%2049%2C%2043204%20Reus%2C%20Tarragona!5e0!3m2!1ses!2ses!4v1684826487110!5m2!1ses!2ses"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="flex-item contact-text">
        <h3 class="text-center">We are at your disposition</h3>
        <h4 class="text-center"><br> The SpringMeal Team</h4>
        <p class="text-center" style="margin-top: 20px;">
          <br><br>
          Would you like to learn more about our offers? Do you have any
          specific questions? <br> Would you like to receive personalized advice? We
          would be happy to assist you. To do so, simply fill out this form. <br> One
          of our experts will get in touch with you as soon as possible (via
          email or phone, whichever you prefer).</p>
          <p class="text-center">We look forward to hearing from you.</p> <p class="text-center">The T-Systems Team.</p>

      </div>

      <div class="col-md-3 text-center contact">
        <ul class="list-unstyled mb-0">
            <li><i class="fas fa-map-marker-alt fa-2x"></i>
                <p>Cami de Valls, 81-87, 43204, Reus, Spain</p>
            </li>

            <li><i class="fas fa-phone mt-4 fa-2x"></i>
                <p>935015000</p>
            </li>

            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
              <a href="https://www.t-systems.com/es/es/contact"><p>https://www.t-systems.com/es/es/contact</p></a>

            </li>
        </ul>
    </div>

    </div>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="lname">Email</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input class="btn bg-gradient-primary" type="submit" value="Submit">
  </form>
</div>
<footer class="footer position-relative bottom-1 py-2 w-100">
  <div class="container">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-12 col-md-6 my-auto">
        <div class="copyright text-center text-sm text-lg-start">
          © ,
          made with <i class="fa fa-heart" aria-hidden="true"></i> by
          <a href="#" class="font-weight-bold" target="_blank">SpringMeal</a>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="#" class="nav-link" target="_blank">SpringMeal</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" target="_blank">About Us</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link pe-0" target="_blank">License</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


  </div>

