<div class="container">
  <mat-toolbar class="bar border-radius-lg">
    <span>Category creation</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/welcome">Home</button>
    <button mat-button routerLink="/admin/category">Back</button>
  </mat-toolbar>

  <mat-card style="margin-top: 20px">
    <mat-card-content>
      <form>
        <mat-grid-list cols="2" rowHeight="70px">
          <mat-grid-tile [colspan]="2" [rowspan]="1" [style.background]="'lightblue'" >
            <mat-form-field>
              <mat-label color="primary">Input</mat-label>
              <input matInput>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>


        <br>
        <br>
        <mat-grid-list cols="4" rowHeight="100px">
          <mat-grid-tile
              *ngFor="let tile of tiles"
              [colspan]="tile.cols"
              [rowspan]="tile.rows"
              [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>

</div>
