

<div class="card mb-4">
    <div class="row g-0">
        <div class="col-md-3">
            <div class="d-flex align-items-center" style="height: 100%">
                <div class="w-100 text-center">
                    <img src="data:image/png;base64, {{dish.image}}" class="img-fluid" alt="" style="max-height: 140px; max-width: 140px;">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h3 class="card-title">
                    {{ utils.capitalizeFirst(dish.name) }}
                </h3>
                <p class="card-text">
                    {{ utils.capitalizeFirst(dish.description) }}
                </p>
                <p class="card-text">                    
                    <span *ngFor="let allergen of allergens[dish.id]">
                        {{ allergen }}
                    </span>
                </p>
                <p class="card-text"><strong> 
                    € {{ dish.price.toFixed(2) }}
                </strong></p>
            </div>
        </div>
        <div class="col-md-3" *ngIf="actions === 'chart'">
            <div class="d-flex align-items-center" style="height: 100%">
                <div class="w-100 text-center">
                    <button (click)="addToChart()" *ngIf="!dish.chart" class="btn bg-gradient-primary">
                        ADD <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </button>
                    <button (click)="removeFromChart()" *ngIf="dish.chart" class="btn bg-gradient-secondary shadow-dark">
                        REMOVE <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-3" *ngIf="actions === 'crud'">
            <div class="d-flex align-items-center" style="height: 100%">
                <div class="w-100 text-center">
                    <button
                        mat-icon-button
                        color="primary"
                        aria-label="Example icon button with a home icon"
                        (click)="openDialog('500ms', '500ms')"
                        mat-icon
                        >
                        <mat-icon>edit</mat-icon>
                        </button>
                    <button
                    mat-icon-button
                    style="color: #e20074"
                    color="primary"
                    aria-label="Example icon button with a home icon"
                    (click)="alertConfirmation()"
                    >
                    <mat-icon>delete</mat-icon>
                    </button>
            </div>
        </div>
    </div>
</div>