
.button {
  margin-right: 8px;
}

.btn-ok,
.btn-exit {
  margin: 0 10px;
}


.modal-container {
  display: grid;
  grid-template-areas:
    "header"
    "body"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: auto;
  width: auto;
  margin-left: 2vh;
  margin-right: 2vh;
}

.modal-header {
  grid-area: header;

}

.modal-body {
  grid-area: body;
}

.modal-footer {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.input-size{
  width: 95%;
}

.tabla-vacia {
  /* Estilos para el mensaje de tabla vacía */
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #999;
}
