<div class="card mb-4">
    <div class="row g-0">
        <div class="col-md-3">
            <div class="d-flex align-items-center" style="height: 100%">
                <div class="w-100 text-center">
                    <img src="{{ 'data:image/png;base64, '+ dish.image }}" class="img-fluid" alt="{{ dish.name }}">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">{{ dish.name }}</h5>
                <p class="card-text">{{ dish.description }}</p>
                <p class="card-text"><strong>{{ dish.price.toFixed(2) }} €</strong></p>
            </div>
        </div>
        <div class="col-md-3" *ngIf="actions === 'chart'">
            <div class="d-flex align-items-center" style="height: 100%">
                <div class="w-100 text-center">
                    <button class="btn bg-gradient-primary" (click)="emit_addToChart()">
                        ADD 
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>