<app-navbar-admin></app-navbar-admin>
<div class="container-block">
  <mat-toolbar class="bar border-radius-lg">
    Order
    <div class="example-spacer"></div>
    <button
      mat-raised-button
      style="background-color: #e20074; color: white"
      routerLink="/admin/create-order"
    >
      Add
    </button>
  </mat-toolbar>
</div>

<div class="card-body px-0 pb-2">
  <div class="table-responsive p-5">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            ID Order
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            Date
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            Slot
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            User
          </th>
          <th class="text-center text-secondary opacity-5">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let order of orders | paginate: { itemsPerPage: 10, currentPage: p }"

        >
          <td class="align-middle text-center">
            <span class="badge badge-sm bg-gradient-success"
              >{{ order.idOrder }}
            </span>
          </td>
          <td class="align-middle text-center">
            <span class="badge badge-sm bg-gradient-success">{{
              order.date
            }}</span>
          </td>
          <td class="align-middle text-center text-sm">
            <p class="text-xs font-weight-bold mb-0">{{ order.slot }}</p>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{
              order.nameUser
            }}</span>
          </td>
          <td class="align-middle text-center">
            <app-order-button-modal [order]="order" (orderUpdated)="updateOrderUpdated($event)"></app-order-button-modal>
            <button
              mat-icon-button
              style="color: #e20074"
              color="primary"
              aria-label="Example icon button with a home icon"
              (click)="alertConfirmation(order.idOrder)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Previous"
      nextLabel="Next"
      [responsive]="true"
    ></pagination-controls>
  </div>
</div>
