<app-navbar-admin></app-navbar-admin>
<div class="container-block">
  <mat-toolbar class="bar border-radius-lg">
    Allergen
    <div class="example-spacer"></div>
    <button
      mat-raised-button
      style="background-color: #e20074; color: white"
      routerLink="/admin/create-allergen"
    >
      Add
    </button>
  </mat-toolbar>
</div>
<div class="card-body px-0 pb-2">
  <div class="table-responsive p-5">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            ID Allergen
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            Name
          </th>
          <th class="text-center text-secondary opacity-5">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let allergen of allergens">
          <td class="align-middle text-center">
            <span class="badge badge-sm bg-gradient-success"
              >{{ allergen.idAllergen }}
            </span>
          </td>
          <td class="align-middle text-center">
            <span class="badge badge-sm bg-gradient-success">{{
              allergen.name
            }}</span>
          </td>
          <td class="align-middle text-center">
            <button
              mat-icon-button
              color="primary"
              aria-label="Example icon button with a home icon"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              style="color: #e20074"
              color="primary"
              aria-label="Example icon button with a home icon"
              (click)="alertConfirmation(allergen.idAllergen)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
