<app-navbar-admin></app-navbar-admin>
<div class="container-block">
  <mat-toolbar class="bar border-radius-lg">
    Category
    <div class="example-spacer"></div>
    <button
      mat-raised-button
      style="background-color: #e20074; color: white"
      routerLink="/admin/create-category"
    >
      Add
    </button>
  </mat-toolbar>
</div>
<div class="card-body px-0 pb-2">
  <div class="table-responsive p-5">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-9"
          >
            ID Category
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-9"
          >
            Name
          </th>
          <th class="text-center text-secondary opacity-9">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let category of categories
              | paginate : { itemsPerPage: 10, currentPage: p }
          "
        >
          <td class="align-middle text-center">
            <span class="badge badge-sm bg-gradient-success"
              >{{ category.idCategory }}
            </span>
          </td>
          <td class="align-middle text-center">
            <span class="badge badge-sm bg-gradient-success">{{
              category.name
            }}</span>
          </td>
          <td class="align-middle text-center">
            <app-category-button-modal
              [category]="category" (categoryUpdated)="updateCategoryUpdated($event)"
            ></app-category-button-modal>
            <button
              mat-icon-button
              style="color: #e20074"
              color="primary"
              aria-label="Example icon button with a home icon"
              (click)="alertConfirmation(category.idCategory)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Previous"
      nextLabel="Next"
      [responsive]="true"
    ></pagination-controls>
  </div>
</div>
