<app-navbar-admin></app-navbar-admin>
<div class="container-block">
  <mat-toolbar class="bar border-radius-lg">
    User
    <div class="example-spacer"></div>
    <button
      mat-raised-button
      style="background-color: #e20074; color: white"
      routerLink="/admin/create-user"
    >
      Add
    </button>
  </mat-toolbar>
</div>
<div class="card-body px-0 pb-2">
  <div class="table-responsive p-5">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            ID user
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            Username
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            Name
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            Surname
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            DNI
          </th>
          <th
            class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7"
          >
            email
          </th>
          <th class="text-center text-secondary opacity-7">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let user of users | paginate : { itemsPerPage: 10, currentPage: p }
          "
        >
          <td class="align-middle text-center">
            <span class="badge badge-sm bg-gradient-success">{{
              user.idUser
            }}</span>
          </td>
          <td class="align-middle text-center">
            <span class="badge badge-sm bg-gradient-success">{{
              user.username
            }}</span>
          </td>
          <td class="align-middle text-center text-sm">
            <p class="text-xs font-weight-bold mb-0">{{ user.name }}</p>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{
              user.surname
            }}</span>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{
              user.dni
            }}</span>
          </td>
          <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{
              user.email
            }}</span>
          </td>
          <td class="align-middle text-center">
            <app-button-modal [user]="user" (userUpdated)="updateUserUpdated($event)"></app-button-modal>

            <button
              mat-icon-button
              style="color: #e20074"
              color="primary"
              aria-label="Example icon button with a home icon"
              (click)="alertConfirmation(user.idUser)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="p = $event"
      previousLabel="Previous"
      nextLabel="Next"
      [responsive]="true"
    ></pagination-controls>
  </div>
</div>
