.container{
  width: 2000px;


}

.parent{
  position: relative;
  overflow:hidden;
  border-radius: 20px;
}
.child{
  color: white;
  position:absolute;
  z-index:1;
  background: #00000080;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 63px;
}
.button-home{
  margin-top:100px;
}
